div.optimus-image-capture {
    line-height: 0;
}
div.optimus-image-capture img {
    width: 100%;
    height: auto;
}
div.optimus-image-capture img.lazy-hidden {
    opacity: 0;
}
div.optimus-image-capture img.lazy-hidden.lazy-loaded {
    -webkit-transition: opacity 1s ease 0s;
    -moz-transition: opacity 1s ease 0s;
    -ms-transition: opacity 1s ease 0s;
    -o-transition: opacity 1s ease 0s;
    transition: opacity 1s ease 0s;
    opacity: 1;
}
